#elemento {
    width: 100%;
    height: 100%;
    animation: cert 5s infinite;
}

@keyframes cert {
    0% {
        background-color: brown;
    }
    100% {
        background-color: darkblue;
    }
}

html, body {
    height: 100%;
}