#cabecera {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.img-user {
    text-align: center;
}

.tema1 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: cyan;
}

.tema2 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(169, 168, 238);
}

#pie-de-pagina {
    text-align: center;
    color: cornsilk;
    background-color: rgba(88, 120, 224, 0.719);
}